page-loveletter {

  ion-content{
    background: url('../assets/img/bg.jpg');
    background-size: cover;
  }

.herz{
  margin: 0 auto;
  width: 0;
}
ion-card {
  ion-card-header, .card-header-md{
    font-size: 1.7rem;
  }
  ion-card-content, .card-content-md{
    font-size: 1.7rem;
  }
  span {
    min-width: 20px;
    border-bottom: 1px solid grey;
    color: #8a0808;
  }
}

}
